[submodule "ecmccfg"]
	path = ecmccfg
	url = git@github.com:paulscherrerinstitute/ecmccfg.git
[submodule "ecmccomp"]
	path = ecmccomp
	url = git@github.com:paulscherrerinstitute/ecmccomp.git
[submodule "ecmc"]
	path = ecmc
	url = git@github.com:epics-modules/ecmc.git
