[submodule "ecmccfg"]
	path = ecmccfg
	url = https://github.com/paulscherrerinstitute/ecmccfg.git
[submodule "ecmccomp"]
	path = ecmccomp
	url = https://github.com/paulscherrerinstitute/ecmccomp.git
[submodule "ecmc"]
	path = ecmc
	url = https://github.com/epics-modules/ecmc.git
